* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    background-color: hsl(209, 28%, 67%);
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background: linear-gradient(.25turn, pink, 10%, purple);
    max-width: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 55px 75px;
    border-radius: 40px;
    user-select: none;
}

#Display-area {
    width: 100%;
    margin: 3vh 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, minmax(40px, auto));
    word-wrap: initial;
    padding-bottom: 20px;
    border-bottom: 1px rgba(235, 42, 216, 0.116) solid;
}

#Display-area .input {
    
    text-align: right;
    height: 8vh;
    color: white;
    font-size: xx-large;
    line-height: 2;
    word-wrap: break-word;
}

#Display-area .answer {
    text-align: right;
    color: rgba(93, 86, 86, 0.87);
    height: 9px;
    line-height: 3;
    font-size: larger;
}

.keypadBtns .fun_btn {
    color: rgb(212, 15, 146);
    font-weight: bold  ;
    font-size: xx-large;
    background-color: rgb(99, 190, 198);
}
.keypadBtns {
    display: grid;
    grid: repeat(5, 70px) / repeat(4, 70px);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.keypadBtns button {
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #bc61b6;
    color: rgb(237, 235, 235);
    font-size: x-large;
}
.num_btn:hover,.fun_btn:hover {
    background-color: rgba(146, 139, 139, 0.979);
}

